
.App {
  text-align: left;
  padding: 20px;
}

TableHeader {
  font-weight: bold;
}

.roomies {
  background-color: #002884;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}